body {
  font-family: verdana;
  background-color: black;
  color: darkgray;
  padding-left: 10px;
  font-size: smaller;
}

h1 {
	color: red;
}

h2 {
	margin-top: 40px;
	color: orangered;
}

h3 {
  margin-top: 20px;
  color: orangered;
}

.social-link {
	margin-right: 10px;
}

.photo {
  width: 400px;
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

a:hover {
  color: orange;
}

a:active {
  color: orange;
}